<!--
Shows a "detail" page for an individual bean that is sold. This page should include the name, description, and picture of the bean. Note that the route includes the id of the particular bean.

Include an "About the Grower" section including the description, image, and the external link to more information (which is an attribution to where your professor got these descriptions).

The bean detail page should also include an order form so the customer can add that product to their shopping cart. They should be able to indicate how many pounds they desire (minimum of 1, maximum of 10, whole point increments) and what kind of grind they need (Whole Bean, Espresso, French Press, Cone Drip Filter, or Flat Bottom Filter). See below for more details about the shopping cart.
-->

<div class="order-detail-header"></div>

<div class="row">
    <div class="col-md-8 order-grid-col">
        <h2>{{ order.name }}</h2>
        <div class="row">
            <div class="col-md-8">

                <img src="{{ order.image }}">

            </div>
            <div class="col-md-4">
                <p class="price">{{ order.price | currency }}</p>
                <p>{{ order.description }}</p>
                <p id='categories'>Categories</p>
                <ul>
                    <li ng-repeat="category in order.categories">{{ category }}</li>
                </ul>
                
            </div>
        </div>

        
    </div>
    <div class="col-md-4 order-grid-col">
        <h2>Purchase {{ order.name }}</h2>

        <form class="form-horizontal" name="orderForm" novalidate>
            <div class="form-group" ng-class="{'has-error':orderForm.quantity.$invalid && orderForm.quantity.$touched, 'has-success':orderForm.quantity.$valid}">
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" class="form-control" ng-model="quantity" min="1" max="10" required>
                <p ng-show="orderForm.quantity.$invalid && orderForm.quantity.$touched" class="help-block">Order quantity must be between 1-10</p>
            </div> 

            <div class="form-group" ng-class="{'has-success':orderForm.grind.$valid}">
                <label for="grind">Grind:</label>
                <select type="text" name="grind" id="grind" class="form-control" ng-model="grind_type" required>
                    <option ng-repeat='available_grind_type in grind_types'>
                        {{ available_grind_type }}
                    </option>
                </select>
            </div>    

            <button type="submit" class="btn btn-primary" ng-click="submitForm(orderForm)" ng-disabled="orderForm.$invalid">Submit</button>
        </form>

  </div>
</div>

<!-- Include an "About the Grower" section including the description, image, and the external link to more information (which is an attribution to where your professor got these descriptions).
 -->


<div class="grower-section">
    <h2>About the grower</h2>
    <h3>{{ order.grower.name }}</h3>
    <img src="{{ order.grower.image }}">
    <p>{{ order.grower.description }}</p>
</div>
