<!--
Shows a "detail" page for an individual bean that is sold. This page should include the name, description, and picture of the bean. Note that the route includes the id of the particular bean.

The managers of Dawg Coffee that it is ethically important to be aware of and consider the source of food you consume—such whether your food is produced in exploitive or unsustainable ways. Thus they have included details about growers for each of the beans they sell. You should also display this information (e.g., in an "About the Grower" section), including the description, image, and the external link to more information (which is an attribution to where your professor got these descriptions).

The bean detail page should also include an order form so the customer can add that product to their shopping cart. They should be able to indicate how many pounds they desire (minimum of 1, maximum of 10, whole point increments) and what kind of grind they need (Whole Bean, Espresso, French Press, Cone Drip Filter, or Flat Bottom Filter). See below for more details about the shopping cart.
-->

<div class="header">
    <h1>Dawg Coffee</h1>
    <h1>Orders</h1> 
    <p class="hidden-xs">Supplying beans to sleepy Huskies since 2015</p>
</div>

<h1>{{ order.name }}</h1>
<img src="{{ order.image }}">
<p>{{ order.price | currency }}</p>
<p>{{ order.description }}</p>
<p>Categories</p>
<ul>
    <li ng-repeat="category in order.categories">
        {{ category }}
    </li>
</ul>

<h2>About the grower</h2>
<h3>{{ order.grower.name }}</h3>
<img src="{{ order.grower.image }}">
<p>{{ order.grower.description }}</p>