<div class="order-detail-header"></div>

<h1>Shopping Cart</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Grind</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in orders">
            <td>{{ order.name }}</td>
            <td>{{ order.grind_type }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity * order.price | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>Grand Total</th>
            <th>{{ getTotal() | currency }}</th>
        </tr>
    </tbody>
</table>