<!--
Shows a "detail" page for an individual bean that is sold. This page should include the name, description, and picture of the bean. Note that the route includes the id of the particular bean.

Include an "About the Grower" section including the description, image, and the external link to more information (which is an attribution to where your professor got these descriptions).

The bean detail page should also include an order form so the customer can add that product to their shopping cart. They should be able to indicate how many pounds they desire (minimum of 1, maximum of 10, whole point increments) and what kind of grind they need (Whole Bean, Espresso, French Press, Cone Drip Filter, or Flat Bottom Filter). See below for more details about the shopping cart.
-->

<div class="order-detail-header"></div>

<div class="row">
    <div class="col-md-8 ">
        <div class="order-grid-col">
            <h2>{{ order.name }}</h2>
            <img src="{{ order.image }}">
            <p class="price">{{ order.price | currency }}</p>
        
            <p>{{ order.description }}</p>
            <p id='categories'>Categories</p>
            <ul>
                <li ng-repeat="category in order.categories">{{ category }}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 order-grid-col">
        <h2>Purchase {{ order.name }}</h2>
        <p>Insert order form here</p>
  </div>
</div>

<!--
<div class="grower-section">
    <h2>About the grower</h2>
    <h3>{{ order.grower.name }}</h3>
    <img src="{{ order.grower.image }}">
    <p>{{ order.grower.description }}</p>
</div>
-->