<div class="header">
    <h1>Dawg Coffee</h1>
    <h1>Orders</h1> 
    <p class="hidden-xs">Supplying beans to sleepy Huskies since 2015</p>
</div>


<input type="text" class="form-control input-lg" placeholder="Bean name" ng-model="order_query">

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price per pound</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in orders | orderBy:'name' | filter:order_query" ng-click="click(order)" ui-sref='OrderDetail({"id": order.id})'>
            <td>{{ order.name }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.price | currency }}</td>
        </tr>
    </tbody>
</table>