
h1 {
    border-bottom-style: solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
}



#header-img {
    width: 100%;
    margin-bottom: 1em;
}


.raty {
    margin-top: 2em;
    margin-bottom: 2em;
}

#saved-reviews {
    margin-top: 4em;
    padding-left: 2em;
    
}

.saved-review {
    border-left-style: solid;
    padding-left: 1.5em;
    margin-bottom: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h3 {
    display: inline;
}

.thumbs-icon {  
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.exit-icon {
    float: right;
    padding-left: 2em;
    padding-right: 0.5em;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.alert {
    position: relative;

}

#error-messages {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}