
/* Set up a buffer header so our content doesn't load under the navbar */
.order-detail-header {
    width: 100%;
    height: 55px;
}


.order-grid-col {
    img {
        max-height: 400px;
        max-width: 400px;

    }
}

.grower-section {
    background-color: darken($light-grey, 5%);
}

.center img {        
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Make the text input look a bit nicer */
.form-control {
    width: 95%;
    margin: 2em auto;
}

// Bootstrap leaves margins by default which cause unnecessary horiz scrollbars
.row {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {

    .order-grid-col-1 {
        img {
            max-height: none;
            max-width: none;
            width: 70%
        }
    }
}