
/* Set up a buffer header so our content doesn't load under the navbar */
.order-detail-header {
    width: 100%;
    height: 55px;
}


.order-grid-col {
    // padding-left: 1em;
    // padding-right: 1em;
    h2 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    img {
        // max-height: 250px;
        max-width: 100%;
        // display:block;
        // margin-left:auto;
        // margin-right:auto;
    }

    .price {
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
        font-size: 1.75em;
    }
}

.grower-section {
    background-color: darken($light-grey, 5%);
}

.center img {        
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Make the text input look a bit nicer */
.form-control {
    width: 95%;
    margin: 2em auto;
}

// Bootstrap leaves margins by default which cause unnecessary horiz scrollbars
.row {
    margin-left: 0;
    margin-right: 0;
}

#categories {
    font-weight: bold;
}

@media screen and #{$min-tablet} {
    .order-grid-col {


        img {
            display:block;
            margin-left:auto;
            margin-right:auto;
        }

        .price {
            margin-bottom: 1em;
            margin-top: 1em;
            text-align: center;
            font-size: 1.75em;
        }
    }
}