@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300italic,300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/* TODO

* Why is h2 not turning white 
*/

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #E9EAEE;
}

h1, h2 {
    font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
    color: #bc6026;
}

nav {
    position: fixed;
    background-color: #181c22;
    color: white;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}

#size_to_letter {
    width: 1em;
    height: 1em;
}

#svg_color {
    fill: white;
}


#horizontal_nav {
    display: inline;
}

#horizontal_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#horizontal_nav li {
    display: inline;
    padding-right: 0.5em;
    font-variant: small-caps;
}

#horizontal_nav a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
#horizontal_nav a:visited {
    color: white;
}

#horizontal_nav a:hover {
    color: #d87e28;
}

#horizontal_nav a:hover path{
    fill: #d87e28;
}

.container {
    width: inherit;
    padding: 0;
}

.header {
    padding-top: 3em;
}

#motto {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }

    h2 {
        text-align: center;
        padding-bottom: 1em; /* h2 should have a blank space below equal to the height of the current font */
    }

    #motto {
        display: block;
    }

    nav {  /* Is this working? */
        background-color: rgba(24, 28, 34, 0.8);
    }

    /* left and right padding should increase to 1em on screens 768 pixels and wider. */
    #horizontal_nav li {
        padding-right: 1em;
    }

    .header {
        background-image: url('../img/background-sm.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 550px;
        width: 100%;
        color: white;
        text-align: right;

    h2 {
        color: white;
    }
}

@media screen and (min-width: 992px) {
    .header {
        background-image: url('../img/background-md.jpg');
    }

    h1 {
        font-size: 4em;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        background-image: url('../img/background-lg.jpg');
    }
}
